* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
  color: rgba(0, 0, 0, 0.63);
}

body {
    background-color: skyblue;
    width: 99.9%; 
    height: 100%;
    overflow-x: hidden;
}
header {
    justify-content: space-evenly;
    justify-self: center;
  background-color: skyblue;
  height: 13vh;
  align-items: center;
  border: 1px solid black;
}
header,
ul {
  display: flex;
}
a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  
}
.caixa-logo img {
  width: 10.1rem;
  height: 10.1rem;
  padding: 1rem;
  
}
ul {
  list-style: none;
}
li {
  margin: 0px 3rem 0px 0px;
}
;
.main {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 300px;
    height: 300px;
    background-color: rgb(218, 217, 217);
}
.nome {
    border: 2px solid black;
    align-content: center;
    height: 30vh;
    text-align: center;
    font-size: 1.5rem;
    background-color: skyblue;
}
.descricao {
    border: 2px solid black;
    align-content: center;
    text-align: left;
    height: 30vh;
    background-color: skyblue;
}
.perfil {
    height: 35vh;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.perfil p {
    padding-left: 5%;
    width: 30vw;
    font-size: 1.1rem;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.perfil h3 {
    text-align: left;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.perfil img {
    display: inline-block;
    height: 30vh;
    width: 25%;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: skyblue;
    height: 70vh;
    
}
.centrohobbies {
    padding-top: .5rem;
    padding-left: 2.5rem;
    height: 65vh;
    width: 50%;
    background-color: pink;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.topicoA {
    height: 20vh;
    width: 30vw;
}
.topicoC {
    width: 30vw;
}
.comidas {
    display: flex;
    flex-direction: column;
    list-style: square;
}
.comidas li {
    padding-bottom: 0.5rem;
}

.contato {
    text-align: center;
    background-color: pink;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

.contato img {
    width: 5%;
  margin: 0.5rem;
}

footer {
    padding: 10px 0px;
    background-color: skyblue;
  color: rgb(0, 0, 0);
  bottom: 0;
  width: 100vw;
  height: 7vh;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

footer p {
    align-items: center;
    justify-content: center;
    padding: 0.1rem;
    font-weight: bold;
    font-size: 1.2rem;
}
@media screen and (min-width: 320px) {
    html {
        overflow-x: hidden;
        width: 100vw;
        text-align: left;
    }
    body {
        width: 100vw;
        overflow-x: hidden;
    }
    header {
        width: 100vw;
    }
    header a{
        font-size: 1.5rem;
    }
    .caixa-logo img {
        width: 5.5rem;
        height: 5.5rem;
        padding: 0rem;
      }
    .perfil {
        width: 100vw;
        height: 55vh;
        justify-content: space-evenly;
    }
    .perfil h3 {
        height: 50vh;
        width: 32vw;
        font-size: 1.2rem;
        padding-left: 5px;
    }
    .perfil p {
        height: 50vh;
        width: 35vw;
        font-size: .9rem;
        text-align: left;
        padding-left: 5px;
    }
    .perfil img {
        height: 50vh;
        width: 25vw;
    }
    .habilidades {
        height: 40vh;
    }
    .centrohobbies {
        margin: 1rem 0rem 15rem 0rem;
        width: 95vw;
        height: 90vh;
    }
    .topicoA h2, .topicoC h2 {
        font-size: 1.2rem;

    }
    .topicoA p, .topicoC p {
        font-size: 1rem;
        width: 60vw;
    }
    .topicoA {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .topicoC {
        margin-top: 0px;
        padding-bottom: 0px;
    }
    .contato {
        margin-top: 12rem;
        padding: 1rem;
    }
    .contato img {
        width: 50px;
    }
    footer {
        height: 2.5rem;
        text-align: center;
    }
  }

@media screen and (min-width: 479px) {
    body {
        width: 100vw;
        overflow-x: hidden;
    }
    header {
        width: 100vw;
    }
    header a{
        font-size: 1rem;
    }
    .caixa-logo img {
        width: 7rem;
        height: 7rem;
        padding: 1rem;
      }
    .perfil {
        width: 100vw;
        height: 50vh;
        justify-content: space-evenly;
    }
    .perfil h3 {
        height: 45vh;
        width: 30vw;
    }
    .perfil p {
        height: 45vh;
        width: 35vw;
    }
    .pefil .descricao {
        height: 40vh;
        width: 30vw;
    }
    .perfil img {
        height: 45vh;
    }
    .centrohobbies {
        margin: 1rem 0rem 15rem 0rem;
        width: 95vw;
        height: 100vh;
    }
    .topicoA {
        margin-bottom: 6rem;
    }
    .contato {
        margin-top: 12rem;
        padding: 1rem;
    }
    .contato img {
        width: 50px;
    }
    footer {
        text-align: center;
      }
  }
  
  @media screen and (min-width: 767px) {
    body {
        width: 100vw;
        overflow-x: hidden;
    }
    header {
        width: 100vw;
    }
    header a{
        font-size: 2.3rem;
    }
    .caixa-logo img {
        width: 15rem;
        height: 15rem;
        padding: 1rem;
      }
    .perfil {
        width: 100vw;
        height: 50vh;
        justify-content: space-evenly;
    }
    .perfil h3 {
        height: 30vh;
        width: 28vw;
        font-size: 2.5rem;
    }
    .perfil p {
        height: 30vh;
        width: 33vw;
        font-size: 1.6rem;
        padding-left: .8rem;
    }
    .perfil img {
        height: 30vh;
        width: 35vw;
    }
    .habilidades {
        height: 55vh;
    }
    .centrohobbies {
        margin: .3rem;
        width: 70vw;
        height: 50vh;
    }
    .topicoA {
        margin-bottom: 0rem;
    }
    .topicoC {
        margin-top: 0rem;
    }
    .contato {
        margin-top: 0rem;
        padding: 1rem;
    }
    .contato img {
        width: 50px;
    }
    footer {
        text-align: center;
      }
  }
  @media screen and (min-width: 1025px) {
    body {
        width: 100vw;
        overflow-x: hidden;
    }
    header {
        width: 100vw;
        justify-content: center;
    }
    header a{
        font-size: 2rem;
    }
    .caixa-logo img {
        position: absolute;
        width: 10rem;
        height: 10rem;
        padding: 1rem;
        left: 1rem;
        top: -2.5rem;
      }
    .perfil {
        width: 100vw;
        height: 35vh;
        justify-content: space-evenly;
    }
    .perfil h3 {
        height: 30vh;
        width: 28vw;
        font-size: 2.5rem;
    }
    .perfil p {
        height: 30vh;
        width: 33vw;
        font-size: 1.6rem;
        padding-left: .8rem;
    }
    .perfil img {
        height: 30vh;
        width: 30vw;
    }
    .habilidades {
        height: 70vh;
    }
    .centrohobbies {
        margin: .3rem;
        width: 70vw;
        height: 65vh;
    }
    .topicoA {
        margin-bottom: 0rem;
    }
    .topicoC {
        margin-top: 0rem;
    }
    .contato {
        margin-top: 0rem;
        padding: 0rem;
    }
    .contato img {
        width: 55px;
    }
    footer {
        text-align: center;
      }
  }